@keyframes modeToggleAnimateDark {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes modeToggleAnimateLight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes bellRing {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    10% {
      transform: rotate(-40deg); /* Start at 0 degrees */
    }
    20% {
      transform: rotate(40deg); /* Rotate 360 degrees */
    }
    35% {
      transform: rotate(-30deg); /* Rotate 360 degrees */
    }
    50% {
      transform: rotate(15deg); /* Rotate 360 degrees */
    }
    70% {
      transform: rotate(-10deg); /* Rotate 360 degrees */
    }
    100% {
      transform: rotate(0deg); /* Rotate 360 degrees */
    }
  }

  @keyframes sky-jump {
    0% { transform: translateY(0); }
    90% { transform: translateY(20px); }
    99% { transform: translateY(-500px); }
    100% { transform: translateY(0); }
  }

  @keyframes profileAnimate {
    0% { transform: translateY(-1000px); }
    20% { transform: translateY(0px); }
    30% { transform: scaleY(0.8); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(0); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  @keyframes profileAnimateClose {
    0% { transform: translateY(0px); }
    45% { transform: scaleY(0.7) translateY(30%); }
    50% { transform: scaleY(1.2) translateY(-500px) translateX(-300px) ; }
    100% { transform: translateY(1000px) translateX(-700px); }
  }

  @keyframes createAnimate {
    0% { transform: translateY(-1000px); }
    20% { transform: translateY(0px); }
    30% { transform: scaleY(0.8); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(0); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  @keyframes createAnimateClose {
    0% { transform: translateY(0px); }
    45% { transform: scaleY(0.7) translateY(30%); }
    50% { transform: scaleY(1.2) translateY(-500px) translateX(-300px) ; }
    100% { transform: translateY(1000px) translateX(-700px); }
  }

  @keyframes vertical-bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-15px); }
    50% { transform: translateY(0); }
    70% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
  }

  @keyframes spring {
    0% {
      transform: translateX(--return-value); /* Start at the left */
    }
    20% {
      transform: translateX(calc(var(--translate-value) + 40px)); /* Overshoot to the right */
    }
    40% {
      transform: translateX(calc(var(--translate-value) + -10px)); /* Bounce back to the left */
    }
    60% {
      transform: translateX(calc(var(--translate-value) + 5px)); /* Bounce back to the left */
    }
    80% {
      transform: translateX(calc(var(--translate-value) + -2px)); /* Bounce back to the left */
    }
    100% {
      transform: translateX(var(--translate-value)); /* Settle at the center */
    }
  }
  
  
  @keyframes springRev {
    0% {
      transform: translateX(var(--translate-value)); /* Start at the left */
    }
    30% {
      transform: translateX(calc(var(--return-value) - 15px)); /* Overshoot to the right */
    }
    90% {
      transform: translateX(calc(var(--return-value) + 5px)); /* Bounce back to the left */
    }
    100% {
      transform: translateX(var(--return-value)); /* Settle at the center */
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    30% {
      transform: rotate(-600deg) scaleX(1.5); /* Start at 0 degrees */
    }
    70% {
      transform: rotate(-460deg); /* Rotate 360 degrees */
    }
    80% {
      transform: rotate(-565deg); /* Rotate 360 degrees */
    }
    90% {
      transform: rotate(-525deg); /* Rotate 360 degrees */
    }
    100% {
      transform: rotate(-540deg); /* Rotate 360 degrees */
    }
  }
  
  @keyframes rotateRev{
     0% {
      transform: rotate(180deg); /* Start at 0 degrees */
    }
    30% {
      transform: rotate(-80deg) scaleX(1.1); /* Rotate 360 degrees */
    }
    70% {
      transform: rotate(30deg); /* Rotate 360 degrees */
    }
    90% {
      transform: rotate(-10deg); /* Rotate 360 degrees */
      
    }
    100% {
      transform: rotate(0deg); /* Rotate 360 degrees */
      scale: 1;
    }
  }