:root {
    --narrow-side-panel-width: 78px;
    --wide-side-panel-width: 226px;
    --icon-width: 24px;
    --standard-line-weight: 2px;
    --standard-gap: 20px;
    --blackish: #000000;
    font-family: comfortaa;
    --font-h4: 27.65px;
    --font-smaller: 13.33px;
    --font-smallest: 11.11px;
    
  }
body .container, body .container *{
  transition: background-color 2s, color 2s;
}
.container {
  text-align: left;
  display: grid;
  height: 100vh;
  width: 100vw;
  --row-1: 71px;
  --row-2: 1fr;
  --column-1: var(--narrow-side-panel-width);
  --column-2: 1fr;
  --column-3: 344px;

  grid-template: 
    var(--row-1) var(--row-2)
      / var(--column-1) var(--column-2) var(--column-3);

  grid-template-areas: 
    "hhh hhh hhh"
    "sss aaa rrr"
  ;
  
}

.container .sidebar {
  background-color: transparent;
  grid-area: sss;
  display: flex;
  justify-content: flex-end;
}


.sidebar > .toggle-container {
  width: 26px;           
  min-width: 26px;
  height: 100%;          
  background-color: rgba(255, 255, 255, 0); 
  position: relative;
  display: inline-block;
}
.sidebar .toggle-container #red {
  position: absolute;
  opacity: 1;
  transition: opacity 2s, color 2s;
  background-image: url(images/sidebar/open-arrow.svg);
  left: calc(50% - calc(var(--standard-gap)/2)); /* Center the arrow horizontally (10px is half the arrow size) */
  width: var(--standard-gap);
  height: var(--standard-gap);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.sidebar .toggle-container #red.dark-mode{
  opacity: 0;
}

.sidebar > .menu {
  height: 100%;          
  background-color: transparent;
  flex-grow:1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .menu-item {
  white-space: nowrap;
  text-align: left; /* Align the content to the left */
  display: flex;
  align-items: center; /* Align items like the circle and text vertically */
  height: 36px;
  gap: 20px;
  padding-left: 0px;
  font-size: var(--font-smaller);
  cursor: pointer;
  transition: color 0.2s;
}
.expand .menu .menu-item span, .expand .menu .menu-item.active span, .expand .menu .menu-item:hover span {
  transition: color 0.2s;
} 

.expand .menu .menu-item.active, .expand .menu .menu-item.active:hover {
    padding-left: calc(20px - var(--standard-line-weight));
    border-left: solid #FFD30F var(--standard-line-weight) ;
    font-weight: bold;
}
.sidebar .menu .menu-item.active{
animation: vertical-bounce 0.8s ease-out;
}
.sidebar .menu .menu-item.active, .sidebar .menu .menu-item.active:hover span {
  color: var(--blackish);
  font-weight: bold;
}

.expand .menu .menu-item:hover {
  padding-left: calc(20px - var(--standard-line-weight));
  border-left: solid rgb(92, 0, 130) var(--standard-line-weight) ;
  font-weight: bold;
  color: rgb(92, 0, 130);
}

.menu .top-menu .icons, .menu .bottom-menu .icons {
  min-width: 24px;
  height: 25px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.menu .top-menu .menu-item.active .icons, .menu .bottom-menu .menu-item.active .icons {
  min-width: 22px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px 1px;
}


.menu .top-menu #home-icon {
    background-image: url('images/sidebar/home.svg');
  }
  .menu .top-menu .menu-item.active #home-icon {
    background-image: url('images/violet/sidebar/home.svg');
  }

  .menu .top-menu #profile-icon {
    background-image: url('images/sidebar/profile.svg');
  }
  .menu .top-menu .menu-item.active #profile-icon {
    background-image: url('images/violet/sidebar/profile.svg');
  }

  .menu .top-menu #messages-icon {
    background-image: url('images/sidebar/messages.svg');
  }
  .menu .top-menu .menu-item.active #messages-icon {
    background-image: url('images/violet/sidebar/messages.svg');
  }

  .menu .top-menu #history-icon {
    background-image: url('images/sidebar/history.svg');
  }
  .menu .top-menu .menu-item.active #history-icon {
    background-image: url('images/violet/sidebar/history.svg');
  }

  .menu .top-menu #tasks-icon {
    background-image: url('images/sidebar/tasks.svg');
  }
  .menu .top-menu .menu-item.active #tasks-icon {
    background-image: url('images/violet/sidebar/tasks.svg');
    min-width: 20px;
    height: 25px;
    margin: 0px 2px;
  }

  .menu .top-menu #communities-icon {
    background-image: url('images/sidebar/communities.svg');
  }
  .menu .top-menu .menu-item.active #communities-icon {
    background-image: url('images/violet/sidebar/communities.svg');
    min-width: 24px;
    height: 25px;
    margin-bottom: 0.5px;
  }

  .menu .bottom-menu #settings-icon {
    background-image: url('images/sidebar/settings.svg');
  }
  .menu .bottom-menu .menu-item.active #settings-icon {
    background-image: url('images/violet/sidebar/settings.svg');
  }

  .menu .bottom-menu #support-icon {
    background-image: url('images/sidebar/support.svg');
  }
  .menu .bottom-menu .menu-item.active #support-icon {
    background-image: url('images/violet/sidebar/support.svg');
  }

  .menu .bottom-menu #privacy-icon {
    background-image: url('images/sidebar/privacy.svg');
  }
  .menu .bottom-menu .menu-item.active #privacy-icon {
    background-image: url('images/violet/sidebar/privacy.svg');
  }  


.dynamic-content {
  flex-grow: 1;
  padding: 96px 60px 20px 30px;
  background-color: transparent;
}

.dynamic-content .content-container {
  text-align: center;
  padding: 20px;
}

.dynamic-content .content-container div{
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.dynamic-content .content-container p + div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.dynamic-content .content-container p + div select {
  width: 340px;
  border-radius: 20px;
  height: 34px;
  border: var(--blackish) solid var(--standard-line-weight);
}

.dynamic-content .content-container p + div button{
  width: 120px;
  border-radius: 20px;
  height: 34px;
  font-size: var(--font-smaller);
}


.dynamic-content .content-container p + div select{
  background-color: transparent;
  padding: 1px 5px 0px 10.5px;
  border: solid 2px rgb(92,0,130);
  font-size: var(--font-smaller);
}



.dynamic-content .content-container p + div input{
  margin-bottom: 20px;
  border: 0px;
  border-radius: 0;
  border-left: solid 2px rgb(92,0,130);
  font-size: var(--font-smaller);
}

.dynamic-content .content-container p + div input:focus{
  border: none;
  border-radius: 20px;
  outline: #FFD30F solid 2px;
}

.dynamic-content .content-container p + div *{
  margin-bottom: 20px;

}
.dynamic-content .content-container p + div img{
  margin-bottom: 30px;
  height: 100px;
}

.dynamic-content .content-container img {
  max-width: 100%;
  height: auto;
}

.projects.hidden {
  display: none;
}

.expand .menu .menu-item{
  padding-left: 20px;
}


.menu .top-menu,.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;

}
.horizontal-divider, .vertical-divider{
  background-color: var(--blackish);
  border-radius: 20px;
}
.horizontal-divider{
  height: var(--standard-line-weight);
  width: auto;
}
.vertical-divider {
  height: auto;
  min-width: var(--standard-line-weight);
}

.toggle-container .vertical-divider {
  flex: 1;
}

.toggle-container .tog-div-top {
  position: absolute;
  top: var(--standard-gap);
  left: calc(50% - var(--standard-line-weight));
}
.toggle-container .tog-div-bot {
  position: absolute;
  bottom: var(--standard-gap);
  left: calc(50% - var(--standard-line-weight));
}

.menu .top-menu #menu-divider{
  white-space: nowrap;
  display: flex;
  align-items: center; /* Align items like the circle and text vertically */
  margin-right: 9px; 
}

.expand .menu .menu-item{
  padding-left: 20px;
}

.menu-item > img {
  white-space: nowrap;
  width: var(--icon-width); /* Set a fixed width for the SVG */
  height: auto; /* Set a fixed height for the SVG */
  flex-shrink: 0; /* Prevent the SVG from shrinking */
}

.container .right {
  background-color: transparent;
  grid-area: rrr;
  display: grid;
  grid-template-rows: 74px var(--standard-line-weight) 1fr var(--standard-line-weight) 1fr;
  width: 100%; /* Fixed width for the container */
  height: 100%; /* Fill the height of the parent */
}

.right .horizontal-divider {
  margin-left: 20px;
  margin-right: 20px;
}

.right .nav-buttons {
  display: grid;
  grid-template-columns: 1fr var(--standard-line-weight) 1fr var(--standard-line-weight) 1fr;
  height: 100%;
  width: 100%;
  padding: 20px 25px;
  font-size: var(--font-smallest);
  font-weight: bold;
  padding-right: 30px;
}

.right .nav-buttons .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.right .announcements, .right .trending {
  padding: 20px 20px 30px 30px;
  overflow: hidden;
}

.announcements .announce-header, .trending .trend-header {
  font-weight: bold;
  min-height: 34px;
  display: flex;
  align-items: center;
}

.announcements .announce-content, .trending .trend-content {
  padding: 20px 20px 0px 10px;
  height: 100%;

}

.announce-content .child {
  width: 100%;
  border-bottom: var(--standard-line-weight) solid var(--blackish);
  padding-bottom: 15px;
  margin-bottom: 20px;
  transition: color 0.1s;
}

.announce-content .child * {
  max-height: 100px;
  transition: 
    color 0.1s, 
    max-height 0.5s ease-in-out,
    border 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

.announce-content .child.hover-on:hover {
  color: rgb(92, 0, 130);
  border-left: #FFD30F solid 0px;
}

.announce-content .title {
  font-weight: 600;
  margin-bottom: 3px;
  font-size: var(--font-smaller);
  line-height: 24px;
}

.announce-content .content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: var(--font-smallest);
  font-weight: 300;
  line-height: 22px;
}

.announce-content .content.expanded {
  display: block;
  max-height: 500px;
}

.announce-content .content.expanded:hover {
  color: var(--blackish);
}

.announce-content .child:has(.expanded) {
  border-bottom: #FFD30F solid var(--standard-line-weight);
}

.announce-content .title:has(+ .expanded){
  border-left: #FFD30F solid var(--standard-line-weight);
  padding-left: 20px;
}

.trend-content .trendProfile {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 36px;
  margin-bottom: 15px;
  font-size: var(--font-smaller);
  cursor: pointer;
  transition: color 0.1s;
}

.trend-content .trendProfile:hover {
  color: rgb(92,0,130);
  font-weight: bold;
}

.trend-content .trendProfile .profileName {
  transition: color 0.1s, font-weight 0.1s;
}
.trend-content .trendProfile .profile-image {
  width: 34px;
  height: 34px;
  background-image: url(images/rightside/trending-profile.svg);
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s;
}
.trend-content .trendProfile:hover .profile-image {
  background-image: url(images/violet/trending/user.svg);
}

.container .header {
  background-color: transparent;
  grid-area: hhh;
  display: grid;
  grid-template-columns: 245px 1fr 276px;
  --row-1: 1fr;
  --row-2: var(--standard-line-weight);
  --column-1: 245px;
  --column-2: 1fr;
  --column-3: 276px;

  grid-template: 
    var(--row-1) var(--row-2)
      / var(--column-1) var(--column-2) var(--column-3);

  grid-template-areas: 
    "hlo se no"
    "hli hli hli"
  ;
}

.container .header #head-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 14px;
  padding-left: 20px;
  grid-area: hlo;
}
.container .header #head-logo svg {
  margin-right: 20px;
  position: fixed;
  transform: translate(-50%,-50%);
}

.container .header #head-logo .svg-container {
  width: 42px;
  height: 42px;
}
.container .header #head-logo .svg-container svg {
  position: absolute;
  top: 35px;
  left: 41px;
  transform: translate(-50%, -50%);
}



.container .header #dashboard {
  font-size: var(--font-h4);
  font-weight: bold;
  padding-top: 2px;
  padding-left: 62px;
  color: var(--blackish);
}
.container .header #search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: se;
}
.container .header #search * {
  flex-grow: 0;
  align-items: center;
}
.search-wrapper {
  padding-top: 18px;
}
.search-container {
  position: relative;
  width: auto;
  display: flex;         /* Arrange the items horizontally */
  align-items: center;   /* Vertically center the items */
  gap: 20px;
  padding-left: 50px;
}
.svg-one {
position: absolute;
top: 0px;
left: 0;
opacity: 1;
height: 34px;
width: auto;
display: flex;
}
/* Default: Hide second SVG */
.svg-two {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transform: translateY(0);
  z-index: 2;
  height: 34px;
  width: auto;
  transform-origin: 0% 0%;
}
.search-input {
  width: 340px;
  height: 34px;
  padding: 10.5px 5px 9.5px 15px; /* Padding inside the input (5px and 10px equivalent in rem) */
  font-size: 1rem;        /* Set the font size to 16px using rem (comfortable with the root font size) */
  border: var(--standard-line-weight) solid var(--blackish); /* Border around the input */
  border-radius: 1.25rem; /* Rounded corners for the input (20px equivalent in rem) */
  font-family: 'Comfortaa', sans-serif; /* Change the font of the input field */
  box-sizing: border-box;
  outline: 0px solid #FFD30F;
  transition: outline 0.1s ease-in-out;
}

.search-input::placeholder {
  transition: color 2s, color 2s;
}

.clear-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}
.clear-button-svg {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 0%;
}
.search-input:focus {
outline: 3px solid #FFD30F;
transition: outline 0.1s ease-in-out;
border: transparent;

}
.search-container .svg-one:has(+ * + *:focus) {
opacity: 0;
}
.search-container .svg-two:has(+ *:focus) {
opacity: 1;
animation: rotateMag 0.8s cubic-bezier(0.83,-0.5, 0.2, 1.5) 0.1s;
}
@keyframes rotateMag {
0% {
transform: rotate(0deg); /* Start at 0 degrees */
}
100% {
transform: rotate(720deg); /* Rotate 360 degrees */
}
}




.container .header #notif {
  grid-area: no;
  display: flex;
  height: 52px;
  padding-top: 18px;
  gap: 0px 20px;
  
}

.container .header #notif img.dark-mode {
  height: 34px;
  width: 35px;

}

.container.dark-mode, input.dark-mode {
  background-color: #090212;
  color: #090212;
}

input.dark-mode::placeholder {
  color: var(--blackish);
}

.container .header #profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .header #user-name-display {
  font-size: var(--font-smaller);
  font-weight: bold;
}

.container .header #headline {
  background-color: var(--blackish); /* Color of the line */
  border-radius: 20px; /* Half of the height for perfect round ends */
  grid-area: hli;
  margin-left: 20px;
  margin-right: 20px;
}

.center-section {
  background-color: transparent;
  grid-area: aaa;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.center-section .projects {
  flex-grow: 1;
  padding: 96px 60px 20px 30px;
}




.center-section .projects .projects-label {
  color: var(--blackish);
  font-weight: bold;
  min-height: 34px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.center-section .projects .projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.projects-content .content-card {

  color: var(--blackish);
  padding: 10px 20px 20px 20px;
  margin-left: var(--standard-line-weight);
  height: 180px;
  border-left: none;
  transition: border 2s, color 2s;
  position: relative;
  overflow: hidden;
}

.projects-content .content-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--standard-line-weight); /* Matches the initial left border width */
  height: 100%;
  background: #FFD30F; /* Initial blue border color */
  transition: transform 0.8s ease-out, 
              transition-delay 0.1s; /* Delays reappearing animation */
  transform-origin: bottom;
  border-radius: 20px;
}

.projects-content .content-card:hover::before {
  transition: transform 0.2s ease-out, 
  transition-delay 0.2s;
  transform: scaleY(0);
  transition-delay: 0s; /* No delay when disappearing */
}

/* Adding hover-out transitions */
.projects-content .content-card:not(:hover)::before {
  transition-delay: 0.4s; /* Waits for the red border to disappear before reappearing */
}

.projects-content .content-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(1.5 * var(--standard-line-weight)); 
  height: 100%;
  background: rgb(92, 0, 130); 
  transition: transform 0.2s ease-in-out, 
              transition-delay 0.3s; /* Delays reappearing animation */
  transform-origin: bottom;
   transform: scaleY(0);
   border-radius: 20px;
}

.projects-content .content-card:hover::after {
  transform: scaleY(1);
  transition-delay: 0.3s; /* Starts after the blue border disappears */
}



.projects-content .content-card.dark-mode {
  border-left: #090212 solid var(--standard-line-weight);
}

.projects-content .content-card .card-header{
  font-weight: 600;
  font-size: var(--font-smaller);
  line-height: 28px;
  width: fit-content;
  cursor: pointer;
  transition: color 0.2s;
}

.projects-content .content-card .card-header:hover {
  color: rgb(92, 0, 130);
  font-weight: bolder;
}

.projects-content .content-card .card-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-size: var(--font-smallest);
  font-weight: 300;
  line-height: 22px;
  padding-top: 5px;
}

.center-section #center-divider {
  flex-grow: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-div {
  position: fixed;
  font-size: xx-large;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 9999; /* Ensures it's above all other elements */
  /* text-shadow: 0 0 15px white, 0 0 15px white, 0 0 15px white; */
  user-select: none;
}

.show { --column-1: var(--wide-side-panel-width); }
.expand { width: var(--wide-side-panel-width);}
#red.rotate { transform: rotate(180deg); transition: .5s; }




.modal-open-btn,
.modal-submit-btn,
.modal-close-btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.modal-open-btn {
  background-color: #007bff;
}

.modal-open-btn:hover {
  background-color: #0056b3;
}
.card-edit-modal-container {
  display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(37 30 7 / 23%);

}

.card-edit-modal {
  position: fixed;
  background-color: #fff;
  margin-left: 78px;
  margin-top: calc((100vh + 69px)/2 - 201px);
  padding: 40px 24px 20px 30px;
  width: 400px;
  font-size: var(--font-smaller);
  
  border-left: 4px rgb(92, 0, 130) solid;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: 900;
  animation: createAnimate 0.8s ease-in;
}


.card-edit-modal-container.active {
  display: block;

}






.card-edit-modal input,
.card-edit-modal textarea {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 10px;
  border: solid 1px var(--blackish);
  border-radius: 20px;
  box-sizing: border-box;
}


.card-edit-modal input:focus-visible,
.card-edit-modal textarea:focus-visible {
  outline: 3px solid #FFD30F;
  border: none;
  border-radius: 20px;
}
 

.card-edit-modal textarea {
  resize: vertical;
  max-height: 350px;
  min-height: 150px;
  border-bottom-right-radius: 0;
}

.card-edit-modal label {
  font-size: var(--font-smaller);
  font-weight: bold;
}

.modal-action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal-action-buttons > div {
  margin-left: 10px;
}

.modal-submit-btn {
  background: rgb(92, 0, 130);
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 20px;
  height: 34px;
  font-size: var(--font-smaller);
  font-weight: bold;
}

.modal-submit-btn:hover {
  background-color: #218838;
}

.modal-close-btn {
  background-color: #dc3545;
}

.modal-action-buttons .modal-close-btn:hover {
  color: rgb(92, 0, 130);
  text-decoration: none;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37 30 7 / 23%);
}


#profile-modal img{
  height: 100px;
  margin-bottom: 5px;

}

.modal-content {
  background-color: #fff;
  margin-left: 78px;
  margin-top: calc((100vh + 69px)/2 - 117px);
  padding: 20px;
  width: 400px;
  font-size: var(--font-smaller);
  padding-right: 14px;
  border-left: 4px rgb(92,0,130) solid;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  animation: profileAnimate 0.8s ease-in;
}

.modal-content.closed {
  /* animation: profileAnimateClose 0.8s ease-in-out; */
}

.modal-content #modal-username {
  font-size: 1rem;
  margin-bottom: 5px;
}

.close {
  color: var(--blackish);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  line-height: 0;

}

.close:hover,
.close:focus {
  color: rgb(92,0,130);
  text-decoration: none;
}

/* For upload */
#fileInput {
  display: none;
}

#upload-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #ffe77a;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: var(--font-smaller);
  z-index: 1000;
  line-height: 25px;
  /* border: #FFD30F solid var(--standard-line-weight); */
}

#upload-notification span{
  font-weight: bold;
  color: rgb(92,0,130);
}

#upload-notification .emoji {
  font-size: 18px;
  line-height: 25px;
  color: var(--blackish);
  font-weight:normal;
}

.button-container.upload-container, 
.button-container.share-container,
.button-container.create-container{
  cursor: pointer;
  transition: color 0.2s, background-image 0.2;
}

.button-container .create-img,
.button-container .share-img,
.button-container .upload-img {
  background-image: url(images/rightside/create.svg);
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
}

.button-container span {
  transition: color 0.1s;
}

.button-container span {
  transition: color 0.1s;
}


.button-container .create-img {
  background-image: url(images/rightside/create.svg);
}

.button-container .share-img {
  background-image: url(images/rightside/share.svg);
}

.button-container .upload-img {
  background-image: url(images/rightside/upload.svg);
}

.button-container:hover span {

}
.button-container:hover .create-img {
  background-image: url(images/violet/buttons/create.svg);
}

.button-container:hover  .share-img {
  
  background-image: url(images/violet/buttons/share.svg);
}

.button-container:hover  .upload-img {
  background-image: url(images/violet/buttons/upload.svg);

}

.button-container:hover * {
  color: rgb(92,0,130);
  font-weight: bold;
}


.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37 30 7 / 23%);
}
.modal-overlay .modal {
  display: block;
  position: fixed;
  background: white;
  padding: 20px;
  text-align: left;
  margin-left: 78px;
  margin-top: calc((100vh + 69px)/2 - 84.5px);
  z-index: 500;
  height: 169px;
  width: 331px;
  border-left: 4px rgb(92, 0, 130) solid;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding-top: 33px;
  animation: createAnimate 0.8s ease-in;
}
.modal-overlay .modal .close-btn {
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
  background: transparent;
  color: var(--blackish);
  border: none;
  border-radius: 5px;
  font-size: 26px;

}
.modal-overlay .modal .close-btn:hover, 
.modal-overlay .modal .close-btn:focus {
color: rgb(92,0,130);
text-decoration: none;

}
.modal-overlay .modal p {
  font-weight: bold;
}

.modal-overlay .modal .icons {
  display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 3px 0 2px 0;
    width: -webkit-fill-available;
    height: 50px;
    flex-wrap: wrap;
}
.modal-overlay .modal .icons .icon {
  width: auto;
  height: 36px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex;
}

.modal-overlay .modal .icons .icon img {
  position: relative;
  z-index: -10;
}

.modal-overlay .modal .input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;

}
.modal-overlay .modal .input-container input {
  border: none;
  padding: 10.5px 15px 9.5px 15px;
  width: 272px;
  height: 34px;
  text-align: left;
  background: transparent;
  outline: none;
  transition: box-shadow 0.2s;
  border: var(--blackish) solid var(--standard-line-weight);
  border-radius: 20px;
  font-weight: bold;
  color: #585858;
}
.modal-overlay .modal .input-container input:focus {
  outline: 3px solid #FFD30F;
  transition: outline 0.1s ease-in-out;
  border: transparent;
  padding: 10.5px 15px 9.5px 16.5px;
  
}
.modal-overlay .modal .input-container .copy-btn {
    background: rgb(92, 0, 130);
    color: white;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    font-size: var(--font-smaller);
    font-weight: bold;
    position: fixed;
    margin-left: 196px;
}
#popup {
  position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ffe77a;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: var(--font-smaller);
    z-index: 1000;
    line-height: 25px;
    font-weight: bold;
}
.icon-popup, .nope-popup {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--blackish);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
}

.modal-action-buttons .modal-close-btn {
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
  background: transparent;
  color: var(--blackish);
  border: none;
  border-radius: 5px;
  font-size: 26px;
}



::selection {
  background-color: #FFD30F; /* Change highlight color */
  color: black; /* Change text color */
}

.purple::selection {
  background-color: rgb(92, 0, 130); /* Change highlight color */
  color: white; /* Change text color */
}