:root {
    --narrow-side-panel-width: 78px;
    --wide-side-panel-width: 226px;
    --icon-width: 24px;
    --standard-line-weight: 2px;
    --standard-gap: 20px;
    --blackish: #000000;
    font-family: comfortaa;
    --font-h4: 27.65px;
    --font-smaller: 13.33px;
    --font-smallest: 11.11px;
  }
  
.container {
  text-align: left;
  display: grid;
  height: 100vh;
  --row-1: 71px;
  --row-2: 1fr;
  --column-1: var(--narrow-side-panel-width);
  --column-2: 1fr;
  --column-3: 344px;

  grid-template: 
    var(--row-1) var(--row-2)
      / var(--column-1) var(--column-2) var(--column-3);

  grid-template-areas: 
    "hhh hhh hhh"
    "sss aaa rrr"
  ;
}

.container .sidebar {
  background-color: white;
  grid-area: sss;
  display: flex;
  justify-content: flex-end;
}


.sidebar > .toggle-container {
  width: 26px;           
  min-width: 26px;
  height: 100%;          
  background-color: rgba(255, 255, 255, 0); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar > .menu {
  height: 100%;          
  background-color: white;
  flex-grow:1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .menu-item {
  white-space: nowrap;
  text-align: left; /* Align the content to the left */
  display: flex;
  align-items: center; /* Align items like the circle and text vertically */
  height: 36px;
  gap: 20px;
  padding-left: 0px;
  font-size: var(--font-smaller);
}
.expand .menu .menu-item{
  padding-left: 20px;
}
.menu .top-menu,.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;

}
.horizontal-divider, .vertical-divider{
  background-color: var(--blackish);
  border-radius: 20px;
}
.horizontal-divider{
  height: var(--standard-line-weight);
  width: auto;
}
.vertical-divider {
  height: auto;
  min-width: var(--standard-line-weight);
}

.toggle-container .vertical-divider {
  flex: 1;
}

.toggle-container .tog-div-top {
  margin-top: var(--standard-gap);
  margin-bottom: 5px;
}
.toggle-container .tog-div-bot {
  margin-top: 5px;
  margin-bottom: var(--standard-gap);
}

.menu .top-menu #menu-divider{
  white-space: nowrap;
  display: flex;
  align-items: center; /* Align items like the circle and text vertically */
  margin-right: 9px; 
}

.expand .menu .menu-item{
  padding-left: 20px;
}

.menu-item > img {
  white-space: nowrap;
  width: var(--icon-width); /* Set a fixed width for the SVG */
  height: auto; /* Set a fixed height for the SVG */
  flex-shrink: 0; /* Prevent the SVG from shrinking */
}

.container .right {
  background-color: white;
  grid-area: rrr;
  display: grid;
  grid-template-rows: 74px var(--standard-line-weight) 1.2fr var(--standard-line-weight) 1fr;
  width: 100%; /* Fixed width for the container */
  height: 100%; /* Fill the height of the parent */
}

.right .horizontal-divider {
  margin-left: 20px;
  margin-right: 20px;
}

.right .nav-buttons {
  display: grid;
  grid-template-columns: 1fr var(--standard-line-weight) 1fr var(--standard-line-weight) 1fr;
  height: 100%;
  width: 100%;
  padding: 20px 25px;
  font-size: var(--font-smallest);
  font-weight: bold;
  padding-right: 30px;
}

.right .nav-buttons .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}









.container .header {
  background-color: white;
  grid-area: hhh;
  display: grid;
  grid-template-columns: 245px 1fr 276px;
  --row-1: 1fr;
  --row-2: var(--standard-line-weight);
  --column-1: 245px;
  --column-2: 1fr;
  --column-3: 276px;

  grid-template: 
    var(--row-1) var(--row-2)
      / var(--column-1) var(--column-2) var(--column-3);

  grid-template-areas: 
    "hlo se no"
    "hli hli hli"
  ;
}

.container .header #head-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 14px;
  padding-left: 20px;
  grid-area: hlo;
}
.container .header #head-logo svg {
  margin-right: 20px;
}
.container .header #dashboard {
  font-size: var(--font-h4);
  font-weight: bold;
  padding-top: 2px;
  color: var(--blackish);
}
.container .header #search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: se;
}
.container .header #search * {
  flex-grow: 0;
  align-items: center;
}
.search-wrapper {
  padding-top: 18px;
}
.search-container {
  position: relative;
  width: auto;
  display: flex;         /* Arrange the items horizontally */
  align-items: center;   /* Vertically center the items */
  gap: 20px;
  padding-left: 50px;
}
.svg-one {
position: absolute;
top: 0px;
left: 0;
opacity: 1;
height: 34px;
width: auto;
display: flex;
}
/* Default: Hide second SVG */
.svg-two {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transform: translateY(0);
  z-index: 2;
  height: 34px;
  width: auto;
  transform-origin: 0% 0%;
}
.search-input {
  width: 340px;
  height: 34px;
  padding: 10.5px 5px 9.5px 15px; /* Padding inside the input (5px and 10px equivalent in rem) */
  font-size: 1rem;        /* Set the font size to 16px using rem (comfortable with the root font size) */
  border: var(--standard-line-weight) solid var(--blackish); /* Border around the input */
  border-radius: 1.25rem; /* Rounded corners for the input (20px equivalent in rem) */
  font-family: 'Comfortaa', sans-serif; /* Change the font of the input field */
  box-sizing: border-box;
  outline: 0px solid #FFD30F;
  transition: outline 0.1s ease-in-out;
}
.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}
.clear-button-svg {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 0%;
}
.search-input:focus {
outline: 3px solid #FFD30F;
transition: outline 0.1s ease-in-out;
border: transparent;
}
.search-container .svg-one:has(+ * + *:focus) {
opacity: 0;
}
.search-container .svg-two:has(+ *:focus) {
opacity: 1;
animation: rotateMag 0.8s cubic-bezier(0.83,-0.5, 0.2, 1.5) 0.1s;
}
@keyframes rotateMag {
0% {
transform: rotate(0deg); /* Start at 0 degrees */
}
100% {
transform: rotate(720deg); /* Rotate 360 degrees */
}
}




.container .header #notif {
  grid-area: no;
  display: flex;
  height: 52px;
  padding-top: 18px;
  gap: 0px 20px;
  
}



.container .header #profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .header #user-name-display {
  font-size: var(--font-smaller);
  font-weight: bold;
}

.container .header #headline {
  background-color: var(--blackish); /* Color of the line */
  border-radius: 20px; /* Half of the height for perfect round ends */
  grid-area: hli;
  margin-left: 20px;
  margin-right: 20px;
}

.center-section {
  background-color: white;
  grid-area: aaa;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.center-section .projects {
  flex-grow: 1;
}

.center-section #center-divider {
  flex-grow: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}



.show { --column-1: var(--wide-side-panel-width); }
.expand { width: var(--wide-side-panel-width);}
.rotate { transform: rotate(180deg); transition: .5s; }